<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="title">Home</h1>

    <input type="text" id="imputField">
</body>
{{!-- 
Importamos las librerias que necesitamos exportar --}}
<script src="/socket.io/socket.io.js"></script> 
<script src="/js/home.js"></script>
</html>