<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pagina de productos</h1>
    {{#if isAdmin}}
  <p>Listado de productos</p>
  {{#each products}}
<li>nombre del producto:  {{this.name}}</li>
 
  {{/each}}
    {{else}}
<p>No tienes permisos para ver este contenido</p>
    {{/if }}
</body>
</html>